*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: sans-serif;
}
a{
    color: #333;
    text-decoration: none;
}
h1, h2, h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}
#navbar{
    background-color: #333;
    color: #fff;
    overflow: auto;
}
#navbar a{
    color: #fff;
}
.img{
    width: 33%;
}
#navbar h1{
    float: left;
    padding-top: 20px;
}
#navbar ul {
    float: right;
    list-style: none
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: inline-block;
    padding: 25px;
}
#navbar ul li a:hover, 
#navbar ul li a.current{
    background-color: #444;
    color: peachpuff;
}
.container{
    max-width: 1300px;
    margin: auto;
}
.text-primary{
    color: bisque;
}
#showcase{
    background-image: url(rasm1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

#showcase h1{
    font-size: 60px;
}
.p{
    color: floralwhite;
    font-size: 25px;
}
#adress{
    background-color: #333;
    color: antiquewhite;
}
.h2{
    color: aliceblue
}












